@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito+Sans:wght@600;800&family=Plus+Jakarta+Sans:wght@400;500;600;700&family=Raleway:wght@300&family=Roboto:wght@500;700&family=Source+Serif+Pro:wght@600&display=swap');@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito+Sans:wght@600;800&family=Plus+Jakarta+Sans:wght@400;500;600;700&family=Raleway:wght@300&family=Roboto:wght@500;700&family=Source+Serif+Pro:wght@600&display=swap');@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito+Sans:wght@600;800&family=Plus+Jakarta+Sans:wght@400;500;600;700&family=Raleway:wght@300&family=Roboto:wght@500;700&family=Source+Serif+Pro:wght@600&display=swap');@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito+Sans:wght@600;800&family=Plus+Jakarta+Sans:wght@400;500;600;700&family=Raleway:wght@300&family=Roboto:wght@500;700&family=Source+Serif+Pro:wght@600&display=swap');
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/plus-jakarta-sans-v3-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
  url("../fonts/plus-jakarta-sans-v3-latin-regular.eot?#iefix")
  format("embedded-opentype"),
  /* IE6-IE8 */ url("../fonts/plus-jakarta-sans-v3-latin-regular.woff2")
  format("woff2"),
  /* Super Modern Browsers */
  url("../fonts/plus-jakarta-sans-v3-latin-regular.woff") format("woff"),
  /* Modern Browsers */ url("../fonts/plus-jakarta-sans-v3-latin-regular.ttf")
  format("truetype"),
  /* Safari, Android, iOS */
  url("../fonts/plus-jakarta-sans-v3-latin-regular.svg#PlusJakartaSans")
  format("svg"); /* Legacy iOS */
}
/* plus-jakarta-sans-500 - latin */
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/plus-jakarta-sans-v3-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
  url("../fonts/plus-jakarta-sans-v3-latin-500.eot?#iefix")
  format("embedded-opentype"),
  /* IE6-IE8 */ url("../fonts/plus-jakarta-sans-v3-latin-500.woff2")
  format("woff2"),
  /* Super Modern Browsers */
  url("../fonts/plus-jakarta-sans-v3-latin-500.woff") format("woff"),
  /* Modern Browsers */ url("../fonts/plus-jakarta-sans-v3-latin-500.ttf")
  format("truetype"),
  /* Safari, Android, iOS */
  url("../fonts/plus-jakarta-sans-v3-latin-500.svg#PlusJakartaSans")
  format("svg"); /* Legacy iOS */
}
/* plus-jakarta-sans-600 - latin */
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/plus-jakarta-sans-v3-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
  url("../fonts/plus-jakarta-sans-v3-latin-600.eot?#iefix")
  format("embedded-opentype"),
  /* IE6-IE8 */ url("../fonts/plus-jakarta-sans-v3-latin-600.woff2")
  format("woff2"),
  /* Super Modern Browsers */
  url("../fonts/plus-jakarta-sans-v3-latin-600.woff") format("woff"),
  /* Modern Browsers */ url("../fonts/plus-jakarta-sans-v3-latin-600.ttf")
  format("truetype"),
  /* Safari, Android, iOS */
  url("../fonts/plus-jakarta-sans-v3-latin-600.svg#PlusJakartaSans")
  format("svg"); /* Legacy iOS */
}
/* plus-jakarta-sans-700 - latin */
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/plus-jakarta-sans-v3-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
  url("../fonts/plus-jakarta-sans-v3-latin-700.eot?#iefix")
  format("embedded-opentype"),
  /* IE6-IE8 */ url("../fonts/plus-jakarta-sans-v3-latin-700.woff2")
  format("woff2"),
  /* Super Modern Browsers */
  url("../fonts/plus-jakarta-sans-v3-latin-700.woff") format("woff"),
  /* Modern Browsers */ url("../fonts/plus-jakarta-sans-v3-latin-700.ttf")
  format("truetype"),
  /* Safari, Android, iOS */
  url("../fonts/plus-jakarta-sans-v3-latin-700.svg#PlusJakartaSans")
  format("svg"); /* Legacy iOS */
}
:root {
  --main-color-silver: #f2f4f6;
  --text-desc-color : #fff;
  --site-black-color: #101010;
  --bg-color : #fff;
  --footer-text-color : #a1a8b7;
  --section-bg-color : #f2f4f6;
  --footer-bg-color : #101010;
  --img-bg-color : #e1e7ed;
  --text-color : #101010;
  --subtext-color : #636f87;
  --btn-bg-color : #1aab7b;
  --hover-color : #1aab7b;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
  list-style: none;
}

body {
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
}

/****************** Header styles start **********************/
.site-header {
  background-color: #fff;
  padding-top: 32px;
  padding-bottom: 33px;
  border-bottom: 1px solid #eeeef4;
  position: sticky;
  top: 0;
  
}

.container {
  width: 1256px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
}

.site-header__start {
  display: flex;
  align-items: center;
  
}
.site-header__logo:hover{
  opacity: 0.6;
}
.site-header__logo:active{
  opacity: 0.6;
}

.site-header__logo-img {
  width: 120px;
  height: 32px;
  margin-right: 45px;
}

.site-nav__list {
  display: flex;
  justify-content: space-between;
  width: 265px;
  padding-left: 0;
}

.site-nav__link {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  padding-left: 30px;
  color: #101010;
}
.site-nav__link:hover{
  
  
  color: #1AAB7B;
}

.site-nav__link:active{
  color: #70d3b2;
}
.site-header__end-sign-up:hover{
  background: #fff;
  color: #1AAB7B;
  border: 1px solid #1AAB7B;
}
.site-header__end-sign-up:active{
  background: #636F87;
  color: #fff;
  
}


.site-header__end-sign-up {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 24px;
  background: #101010;
  border-radius: 6px;
  color: #fff;
}
/************************** Header styles end **************************/

/**************************main style start **************************/
.site-section-text {
 max-width: 550px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 140%;
  color: #101010;
}

.site-section_text_decs_wrapper {
  margin-right: 74px;
}

.site-section-desc {
  width: 537px;
  padding-bottom: 40px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #636f87;
}

.site-section_learn-more {
  padding: 20px 40px;
  background: #1aab7b;
  border-radius: 6px;
  border: 1.5px solid transparent;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
}
.site-section_learn-more:hover{
  background: #FFFFFF;
  border: 1.5px solid #1AAB7B;
  color: #1AAB7B;
}

.site-section_learn-more:active{
  background: #1aab7b;
  color: #FFFFFF;
  opacity: 0.7;
}

.learn-more {
  text-decoration: none;
}

.site_main_wrapper {
  display: flex;
  padding-top: 91px;
  padding-bottom:156px;
}

.video {
  border-radius: 6px;
}

/*site first section finished*/

/********second section start********/

.main_section_title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_section {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #f2f4f6
}

.main_section_title{
  width: 383px;
  margin: auto;
  padding-bottom: 40px;
  left: 529px;
  top: 50px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 140%;
  text-align: center;
  color: #101010;
}
.it-jobs-section {
  background-color: var(--section-bg-color);
  padding-top: 50px;
  padding-bottom: 50px;
}

.it-jobs-section-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 140%;
  text-align: center;
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 40px;
}

.section_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  gap: 32px;
}

.main_section_item {
  width: 384px;
  min-height: 358px;
  display: flex;
  flex-direction: column;
  background: var(--section-bg-color);
  border: 2px solid #e1e7ed;
  border-radius: 6px;
  padding: 30px 30px 40px 30px;
}

.main_section_item:hover {
  background-color: var(--hover-color);
  border: 2px solid transparent;
}

.main_section_item:hover
> .it-jobs-section-item-start
> .it-jobs-section-item-title {
  color: var(--text-desc-color);
}

.main_section_item:hover > .it-jobs-section-item-start > .main_section_icon {
  background-color: var(--text-desc-color);
}

.main_section_item:hover > .section-item-subtitle {
  color: var(--text-desc-color);
}

.main_section_item:hover > .it-jobs-section-view-more {
  text-decoration: underline;
  color: var(--text-desc-color);
}

.it-jobs-section-item-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 140%;
  color: #101010;
  margin-top: 0;
  margin-bottom: 0;
}

.main_section_box_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.it-jobs-section-item-start {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 11px;
}

.main_section_icon {
  padding: 17px;
  background-color: var(--img-bg-color);
  border-radius: 50%;
}

.section-item-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--subtext-color);
  margin: 0px;
  flex-grow: 1;
}

.it-jobs-section-view-more {
  font-size: 20px;
  line-height: 140%;
  color: #000000;
  text-decoration: none;
}

/********second section end********/

/*****thourt section start*******/

.we_work_section_title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 16px;
  width: 307px;
  
  margin: auto;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 140%;
  text-align: center;
  color: #101010;
}
.we_work_section_text {
  width: 650px;
  margin: auto;
  padding-bottom: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  
  color: #636f87;
}

.section_clarify_img {
  display: flex;
  margin-bottom: 100px;
}
.section_clarify_text {
  width: 488px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #101010;
}

.section_clarify_desc {
  width: 488px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #636f87;
}

.section_clarify_first_img {
  margin-right: 32px;
  margin-bottom: 100px;
  
}

.section_clarify_text_let {
  width: 488px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #101010;
}
.section_clarify_desc_second {
  width: 592px;
  
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #636f87;
}

.section_clarify_title {
  padding-left: 32px;
  
  
}

.section_clarify_im{
  display: flex;
  flex-grow: 1;
  padding-left: 104px;
  margin-bottom: 100px;
  
  
}

/*****thourt section end*******/
/******last section start******/
.imput_section_title{
  display: flex;
  justify-content: center;
  width: 411px;
  margin: auto;
  margin-bottom: 16px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  text-align: center;
  color: #101010;
}

.imput_section_text{
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 60px;
  width: 650px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #636F87;
  
}
/*********form start***********/
.input-bar-section {
  margin-bottom: 200px;
}
.input-bar-section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
}

.input-bar-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  margin: 0 auto 16px;
  width: 411px;
  text-align: center;
  color: var(--text-color);
}
.input-bar-section-desc {
  width: 650px;
  margin: 0 auto 60px;
  text-align: center;
  color: var(--subtext-color);
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  
  color: #636f87;
}
.box-form {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1008px;
  padding: 64px 312px;
  background-color: #F2F4F6;
  border-radius: 6px;
  margin-bottom: 200px;
  
}
.name::-webkit-input-placeholder {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: var(--text-color);
}
.name::-moz-placeholder {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: var(--text-color);
}
.name:-ms-input-placeholder {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: var(--text-color);
}
.name::-ms-input-placeholder {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: var(--text-color);
}
.name::placeholder {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: var(--text-color);
}
.name,
.input-number,
.site-select {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  padding-bottom: 21px;
  background-color: transparent;
  color: var(--text-color);
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #636f87;
  border-left: none;
  outline: 0;
  margin-bottom: 51px;
}
.input-number::-webkit-input-placeholder {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: var(--text-color);
}
.input-number::-moz-placeholder {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: var(--text-color);
}
.input-number:-ms-input-placeholder {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: var(--text-color);
}
.input-number::-ms-input-placeholder {
  font-weight: 7class="foter_img"00;
  font-size: 20px;
  line-height: 25px;
  color: var(--text-color);
}
.input-number::placeholder {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: var(--text-color);
}
.input-bar-section-btn {
  width: 180px;
  padding: 20px 69.5px;
  margin: 0 auto;
  background: var(--hover-color);
  border-radius: 6px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: var(--text-desc-color);
}
.input-bar-section-bottom-desc {
  margin-top: 24px;
  text-align: center;
  color: #858ea2;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

/******last section end*******/

/******main style end*********/
/********footer start******/
.site-footer {
  max-width: 100%;
  background-color: var(--footer-bg-color);
  padding-top: 100px;
}

.site-footer-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.site-footer-start {
  display: flex;
}

.site-footer-list {
  list-style: none;
  padding-left: 0;
  margin-right: 151px;
  margin-top: 0;
  margin-bottom: 0;
}

.site-footer-list-end {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.site-footer-list-end-address {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.site-footer-item-link {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--img-bg-color);
}

.site-footer-item-active {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: var(--text-desc-color);
  margin-bottom: 30px;
}

.site-footer-item:last-child {
  margin-bottom: 0;
}

.site-footer-item {
  font-weight: 200;
  font-size: 18px;
  line-height: 150%;
  color: #a1a8b7;
  margin-bottom: 26px;
  margin-top: 0;
}
.site-footer-tel {
  text-decoration: none;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #a1a8b7;
}

.site-footer-item-name {
  width: 280px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #a1a8b7;
}

.site-footer-list-network {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  width: 216px;
  justify-content: space-between;
}

.site-footer-list-network:first-child {
  margin-left: 0;
}

.site-footer-end-end {
  border-top: 1px solid #3b4155;
  padding-top: 50px;
  padding-bottom: 50px;
}

.site-footer-end-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-footer-end-subtitle {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: right;
  color: var(--bg-color);
  margin: 0;
}

.site-footer-logo:hover {
  opacity: 0.8;
}
.site-footer-logo:active {
  opacity: 0.6;
}

.site-footer-item-link {
  text-decoration: none;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #a1a8b7;
}

.site-footer-item-link:hover{
  color: var(--hover-color);
}

.site-footer-item-link-active {
  font-size: 20px;
  line-height: 25px;
  color: var(--text-desc-color);
  text-decoration: none;
}

/********footer start******/
