@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito+Sans:wght@600;800&family=Plus+Jakarta+Sans:wght@400;500;600;700&family=Raleway:wght@300&family=Roboto:wght@500;700&family=Source+Serif+Pro:wght@600&display=swap");
:root {
  --main-color-silver: #f2f4f6;
  --site-black-color: #101010;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
  list-style: none;
}

body {
  font-family: "Poppins";
  font-weight: 700;
}

/****************** Header styles start **********************/
.site-header {
  background-color: #fff;
  padding-top: 32px;
  padding-bottom: 33px;
  border-bottom: 1px solid #eeeef4;

}

.container {
  width: 1256px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;

}

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.site-header__start {
  display: flex;
  align-items: center;

}

.site-header__logo-img {
  width: 120px;
  height: 32px;
  margin-right: 45px;

}

.site-nav__list {
  display: flex;
  justify-content: space-between;
  width: 265px;
  padding-left: 0;

}

.site-nav__link {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  padding-left: 30px;
  color: #101010;

}

.site-header__end-sign-up {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 24px;
  width: 156px;
  height: 41px;
  left: 1172px;
  top: 24px;
  background: #101010;
  border-radius: 6px;
  color: #fff;
}
/************************** Header styles end **************************/

/**************************main style start **************************/
.site-section-text{
width: 550px;
margin-top: 0;
margin-bottom: 0;
font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 140%;
color: #101010;

}

.site-section_text_decs_wrapper{
  margin-right: 74px;
}

.site-section-desc{
width: 537px;
padding-bottom: 40px;
font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: #636F87;
}

.site-section_learn-more{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px 40px;
gap: 10px;
width: 168px;
height: 59px;
background: #1AAB7B;
border-radius: 6px;
border: none;
}

.learn-more{
  width: 88px;
font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 120%;
text-align: center;
color: #FFFFFF;
}

.site_main_wrapper{
  display: flex;
  padding-top: 91px;
  padding-bottom: 156px;

}

.video{
  border-radius: 6px;
}














































/**************************main style end **************************/
